<div id="<%= dom_id order %>">
  <p>
    <strong>Buy amount:</strong>
    <%= order.buy_amount %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= order.buy_price %>
  </p>

  <p>
    <strong>Buy date:</strong>
    <%= order.buy_date %>
  </p>

  <p>
    <strong>Sell amount:</strong>
    <%= order.sell_amount %>
  </p>

  <p>
    <strong>Sell price:</strong>
    <%= order.sell_price %>
  </p>

  <p>
    <strong>Sell date:</strong>
    <%= order.sell_date %>
  </p>

</div>
