<div id="<%= dom_id trade_signal %>">
  <p>
    <strong>Date:</strong>
    <%= trade_signal.date %>
  </p>

  <p>
    <strong>Rsi:</strong>
    <%= trade_signal.rsi %>
  </p>

  <p>
    <strong>K:</strong>
    <%= trade_signal.k %>
  </p>

  <p>
    <strong>D:</strong>
    <%= trade_signal.d %>
  </p>

  <p>
    <strong>Macd:</strong>
    <%= trade_signal.macd %>
  </p>

  <p>
    <strong>Support:</strong>
    <%= trade_signal.support %>
  </p>

  <p>
    <strong>Resistance:</strong>
    <%= trade_signal.resistance %>
  </p>

  <p>
    <strong>Buy zone:</strong>
    <%= trade_signal.buy_zone %>
  </p>

  <p>
    <strong>Sell zone:</strong>
    <%= trade_signal.sell_zone %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= trade_signal.currency %>
  </p>

  <p>
    <strong>Bot signal:</strong>
    <%= trade_signal.bot_signal %>
  </p>

  <p>
    <strong>Last close price:</strong>
    <%= trade_signal.last_close_price %>
  </p>
  <p>
    <strong>PERIOD: </strong>
    <%= trade_signal.period %>
  </p>

</div>
